body {
	background-color:#aaaaaa;
}


#message_board {
	width:75%;
	height:900px;
	margin:auto;
	background-color: #fafafa;
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.message-label{
	margin:5px 0 0 10px;
	font-family: sans-serif;
	border-bottom-width: 0;
}

#form_box {
	width:90%;
	margin:10px auto;
}

.message-div {
	margin:5px auto;
	width:100%;
	height:200px;
	border-radius: 5px;
}
#message {
	background-color: #EAFAF1;
	width:100%;
	height:100%;
	border-radius: 5px;
}

.btn {
	background-color: #85C1E9;
	color:#1F618D;
	border-color:#85C1E9;
	border-width:0.5px;
	border-radius:3px;
	margin:5px auto;
}

.message_pannel {
	width:90%;
	margin: 5px auto;
}

.message_show_card {
	font-family:sans-serif
	font-size = 24px;
	margin:10px auto;
	border:1px solid #ccc;
	border-radius: 5px;
}

